<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/programming/authApp/app/style/style.css">
    <style type="text/css">
    body {padding-top:80px;}
    .bann {
    background-image: url("http://static.vecteezy.com/system/resources/thumbnails/000/080/845/original/polygonal-american-flag-background-vector-two.jpg");
    background-size: cover;
    color: white ;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 5px 0px black;}
    .welco { text-shadow: 4px 4px 5px black; }

    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center bann"">
        <h1 class="welco"><span class="fa fa-lock"></span>Welcome to FreedomPages</h1>

        <p class='welco'>Login or Register with:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>
        <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
        <a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a>
        <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google+</a>
    </div>

    

</div>
</body>
</html>
